/* Global layout container similar to Bootstrap .container */
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box;
}
